* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(57, 160, 74);
}
body {
    background-color: rgb(22, 23, 26) ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

input {
    all: unset;
    width: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}
.container2 {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.terminal {
    padding: 35px;
    margin-left: 35px;
}

.pos {
    padding: 7px;
    opacity: 20%;
}
.texto-principal {
    padding: 7px;
}

.pontos {
    padding: 7px;
}