* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(57, 160, 74);
}
body {
    background-color: rgb(22, 23, 26) ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

input {
    all: unset;
    width: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}
.container2 {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.terminal {
    padding: 35px;
    margin-left: 35px;
}

.pos {
    padding: 7px;
    opacity: 20%;
}
.texto-principal {
    padding: 7px;
}

.pontos {
    padding: 7px;
}

/*-----------------------------------------------------------*/

.container-cv {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(5, 120, 245);
}


.education {
    width: 80vw;
    margin: 8px;
    border-top: 1px white solid;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.education>div {
    flex: 1 1 350px;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.8em;
    color: white;
    margin-right: 20px;
    line-height: 1.7;

}
.tituloGrad {
    color: white;
    font-size: 1.3em;
    margin-bottom: 15px;
}
.subTitulo {
    margin-bottom: 8px;
}
.work-xp {
    width: 80vw;
    margin: 8px;
    border-top: 1px white solid;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.work-xp>div {
    flex: 1 1 350px;
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.8em;
    color: white;
    margin-right: 20px;
    line-height: 1.7;
}
.social {
    width: 80vw;
    height: 50px;
    margin: 8px;
    display: flex;
    justify-content:flex-end ;
}

.social img {
        
        max-width: 80px;
        height: auto;
        padding: 12px;
        filter: invert(100%);

}

.dados {
    display: flex;
    max-width: 80vw;
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: rgb(5, 120, 245);
    flex-wrap: wrap;

}
.tituloTopicos{
    width: 80vw;
    color: darkorange;
}

.foto {
    border-radius: 50%;
    width: 30%;
    display: flex;
    padding: 8px;
    margin: 10px;
    flex: 1 1 300px;
    max-width: 300px;
}
.foto>img {
    width: 250px;
    max-width: 100%;
    height: auto;
    filter: saturate(40);
    border: 3px rgb(255, 255, 255) dotted;
    filter: hue-rotate(240deg);
    margin-left: auto;
    margin-right: auto;
}
.infos{
    flex: 2 1 400px;
    width: 90%;
    padding: 20px;
    color: rgb(255, 255, 255);
    flex: 2 1 450px;

}
.nome {
    font-size: 1.5em;
    font-weight: 600;

}
.descri {
    margin-top: 15px;
    font-size: 0.9em;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.4;
}

.sub-titulo {
    color: rgb(255, 255, 255);
    margin-top: 5px;
}

.efeito {
    position: absolute;
    bottom: 0;
    background-color: rgb(22, 23, 26);
    width: 100vw;
    height: 100vh;
}

.efeitoTela {
    animation: tela 8000ms steps(65) 100ms both ;
}


@keyframes tela {
    from {
        height: 100vh;
    }

    to {
        height: 0vh;
    }
}