body {
    background-color: rgb(23, 26, 34);
    font-family: 'Courier New', Courier, monospace;
}

.terminal {

    height: 150px;
    width: 1800px;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    margin-left: 40px;
    flex-direction: column;
    white-space: nowrap;

}

.invisivel {
    opacity: 20%;
}

.typingAni {
    animation: typing 4500ms steps(60) 200ms normal both;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 1100px;
    }
}
.typingAni2 {
    animation: typing2 4500ms steps(40) 200ms infinite both;
}

@keyframes typing2 {
    from {
        width: 0;
    }
    to {
        width: 60px;
    }
}
.blink {
    display: inline;
    animation: animate 0.8s linear infinite;
}

.texto-principal {
    color: rgb(11, 184, 20);
    margin-left: 35px;
    align-content: center;
    font-size: 1.5em;
    white-space: nowrap;
    overflow: hidden;
}
.pos {
    background-color: rgb(23, 26, 34);
    width: 1800px;
    height: 45px;
    color: rgb(58, 65, 59);
    margin-left: 35px;
    align-content: center;
    font-size: 1.5em;  
    margin-bottom: -15px;
    white-space: nowrap;

}
.linha {
    margin-left: 35px;
    color: rgb(35, 39, 49);
    margin-bottom: 15px;
}

input {
    all: unset;
    border: none;
    width: 20px;

}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.animationMove {
    position: absolute;
    animation: position 300ms forwards, fadeout 250ms forwards;
}

@keyframes position {
    0% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(-50px);
    }
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.teste {
    font-size: large;
}